# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
/pages/api/addtolib.js
/pages/api/createblog.js
/pages/api/createcomment.js
/pages/api/deleteview.js
/pages/api/follow.js
/pages/api/like.js
/pages/api/login.js
/pages/api/logout.js
/pages/api/read.js
/pages/api/replytocomment.js
/pages/api/replyview.js
/pages/api/signin.js
/pages/api/starbook.js
/pages/api/upload.js
/pages/api/users.js  